body {
    background-color: rgb(235, 235, 235);
}

.slider {
    width: 1440px;
    margin: 0 auto;
}

.active-img {
     border: 2px solid rgb(151, 151, 151);
     border-radius: 4px;
}

.thumb {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 5px 5px;
}

.imgStyle {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.max-size {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.max-size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Buttons */
.btncontainer {
    text-align: center;
}

.btnStyle {
    background-color: rgb(79, 126, 79);
    color: #fff;
    padding: 10px 20px;
    border: solid 2px  rgb(79, 126, 79);
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btnStyle:hover {
    color:  rgb(79, 126, 79);
    background-color: #fff;
    border: solid 2px  rgb(79, 126, 79);
}